Mail Plugin Manager/Mail Plugin Manager.xcodeproj/project.xcworkspace/
Releases/MailPluginManager.New.tar.bz2
/Mail Plugin Manager/CopyMoveHelper/CopyMoveHelperFixed-Info.plist
/Mail Plugin Manager/CopyMoveHelper/CopyMoveHelperFixed-Launchd.plist