[submodule "LKKit"]
	path = LKKit
	url = git@github.com:lksoft/LKKit.git
[submodule "Sparkle"]
	path = Sparkle
	url = git@github.com:lksoft/Sparkle.git
[submodule "MailMessageUUIDs"]
	path = MailMessageUUIDs
	url = https://github.com/lksoft/MailMessageUUIDs.git
[submodule "LKConfigs"]
	path = LKConfigs
	url = git@github.com:lksoft/LKConfigs.git
