<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confirmation-steps</key>
	<array>
		<dict>
			<key>bullet-title</key>
			<string>What's New</string>
			<key>path</key>
			<string>Something.html</string>
			<key>title</key>
			<string>Release Notes</string>
			<key>type</key>
			<string>release-notes</string>
		</dict>
		<dict>
			<key>license-agreement-required</key>
			<true/>
			<key>path</key>
			<string>MyLicense.rtf</string>
			<key>title</key>
			<string>License</string>
			<key>type</key>
			<string>license</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Install Summary</string>
			<key>type</key>
			<string>confirm</string>
		</dict>
	</array>
	<key>install-background-image-path</key>
	<string>image.png</string>
	<key>install-display-name</key>
	<string>ExamplePlugin</string>
	<key>install-items</key>
	<array>
		<dict>
			<key>description</key>
			<string>Complete Test</string>
			<key>destination-path</key>
			<string>~/Documents/Tests</string>
			<key>is-bundle-manager</key>
			<false/>
			<key>name</key>
			<string>Test File</string>
			<key>path</key>
			<string>Delivery/Test.txt</string>
			<key>permissions-needed</key>
			<array>
				<string>user</string>
				<string>system</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>ExamplePlugin bundle for Mail</string>
			<key>destination-path</key>
			<string>~/Documents/Tests</string>
			<key>name</key>
			<string>Example Bundle</string>
			<key>path</key>
			<string>Delivery/Example.mailbundle</string>
			<key>permissions-needed</key>
			<array>
				<string>user</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>App for managing bundles for Mail</string>
			<key>destination-path</key>
			<string>~/Documents/Tests</string>
			<key>is-bundle-manager</key>
			<true/>
			<key>name</key>
			<string>Bundle Manager</string>
			<key>path</key>
			<string>Delivery/Bundle Manager.app</string>
			<key>permissions-needed</key>
			<array>
				<string>admin</string>
			</array>
		</dict>
		<dict>
			<key>destination-path</key>
			<string>~/Documents/Tests/empty.txt</string>
			<key>name</key>
			<string>Empty Item</string>
			<key>path</key>
			<string>Delivery/empty.txt</string>
		</dict>
	</array>
	<key>min-os-major-version</key>
	<real>10.6</real>
</dict>
</plist>
